{% extends 'base.html.twig' %}

{#{% block title %}Registration{% endblock %}#}

{% block body %}
    <title>Registration</title>
    <style>
        .form-group {
            margin-bottom: 1em;
        }

        .form-group label {
            display: block;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 0.5em;
            font-size: 16px;
        }

        .form-group button {
            padding: 0.5em 1em;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        .form-group button:hover {
            background-color: #45a049;
        }
        .example-wrapper { align-content: center; margin: 1em auto; max-width: 900px; width: 100%; font: 18px/1.5 sans-serif; padding-top: 4%; text-align: left}
    </style>

    <div class="example-wrapper">


        <form method="post" action="{{ path('app_registration') }}">
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
            </div>

            <div class="form-group">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>

            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>

            <div class="form-group">
                <button type="submit">Add user</button>
            </div>

            {{ form_end(form) }}
        </form>

    </div>
{% endblock %}
