{% extends 'base.html.twig' %}

{#{% block title %}Registration{% endblock %}#}

{% block body %}

    <link href="{{ asset('css/registration.css') }}" rel="stylesheet" />

    <title>Registration</title>


    <div class="example-wrapper">


        <form method="post" action="{{ path('app_registration') }}">
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
            </div>

            <div class="form-group">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>

            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>
            <div class="form-group">
                <label for="{{ form.isAdmin.vars.id }}" class="isAdmin-label">{{ form_label(form.isAdmin) }}</label>
                <div class="isAdmin-checkbox">
                    {{ form_widget(form.isAdmin) }}
                </div>
                <div class="isAdmin-message">
                    {{ form_errors(form.isAdmin) }}
                </div>
            </div>

            <div class="form-group">
                <button type="submit">Add user</button>
            </div>

            {{ form_end(form) }}
        </form>

    </div>
{% endblock %}
