{% extends 'base.html.twig' %}


{% block body %}
    <link href="{{ asset('css/Airpressure.css') }}" rel="stylesheet" />
    <script>
        const Stp = {{ Stp|json_encode|raw }};
    </script>

    <title>Airpressure</title>

    <div class="example-wrapper">

        <div class="card mb-4">
            <button  name="reload_button" onclick="location.reload()">
                Fetch new data
            </button>
            <div class="card-header">
                Last measured air pressure
            </div>

            <div class="card-body">
                <canvas id="myStpChart"></canvas>
            </div>

        </div>

        <button name="table-data-button-low"  id="button-pressure-low" >Show air pressure in table</button>
        <div id="table-data-highStp">
            <table class="table">
                <tr>
                <th> Station </th>
                <th> Airpressure in mBar </th>
                <th> Date & Time </th>
            </tr>

            {% for item in Stp %}
                <tr>
                    <td>{{ item.stationName }}</td>
                    <td>{{ item.stp }}</td>
                    <td>{{ item.timestamp|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>

    </div>

    <script src="assets/demo/airPressure.js"></script>
{% endblock %}