{% extends 'base.html.twig' %}

{#{% block title %}10 cloudiest stations in China{% endblock %}#}
{% block body %}
    <link href="{{ asset('css/Airpressure.css') }}" rel="stylesheet" />
    <script>
        const highStp = {{ highStp|json_encode|raw }};
        const lowStp = {{ lowStp|json_encode|raw }};
    </script>

    <title>Airpressure</title>

    <div class="example-wrapper">
{#        =============================================================================#}
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <button  name="reload_button" onclick="location.reload()">
                        Fetch new data
                    </button>
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        High airpressure chart
                    </div>
                    <div class="card-body"><canvas id="myHighStpChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Low airpressure chart
                    </div>
                    <div class="card-body"><canvas id="myLowStpChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>







{#        ==================================================================================#}
        <button name="table-data-button-low"  id="button-pressure-low" >Show Low airpressure in table</button>
        <button name="table-data-button-high" id="button-pressure-high">Show High airpressure in table</button>
        <div class="example-wrapper">
        </div>

        <table id="table-data-highStp">
            <tr>
                <th> Station </th>
                <th> Airpressure in mBar </th>
                <th> Date & Time </th>
            </tr>

            {% for item in highStp %}
                <tr>
                    <td>{{ item.stationName }}</td>
                    <td>{{ item.stp }}</td>
                    <td>{{ item.timestamp|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
    <div class="example-wrapper">
    <table id="table-data-lowStp">
        <tr>
            <th> Station </th>
            <th> Airpressure in mBar </th>
            <th> Date & Time </th>
        </tr>

        {% for item in lowStp %}
            <tr>
                <td>{{ item.stationName }}</td>
                <td>{{ item.stp }}</td>
                <td>{{ item.timestamp|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
        <script src="assets/demo/airPressure.js"></script>
        <script src="assets/demo/airPressure2.js"></script>
{% endblock %}