{% extends 'base.html.twig' %}

{% block title %}Hello HistoricalDataController!{% endblock %}

{% block body %}

<link href="{{ asset('css/HistoricalData.css') }}" rel="stylesheet" />


<div class="example-wrapper">



    <p id="current-station">Current station: {{ selected_station }}</p>

    <div>
        <canvas id="myChart"></canvas>
    </div>
    <div class="js-stp-date">
    <script>
        let labels = [];
        let lowStps = [];
        let highStps = [];

            labels = {{ formDates|json_encode|raw }};
            lowStps = {{ lowFormData|json_encode|raw }};
            highStps = {{ highFormData|json_encode|raw }};

    </script>
    </div>

    <script src="{{ asset('assets/demo/historicalData.js') }}"></script>

    <div class="download-xml-button">
        <a class="nav-link" href="{{ path('app_dashboard') }}">Back To The Map</a>
    </div>

{% endblock %}
