{% extends 'base.html.twig' %}

{% block title %}Hello HistoricalDataController!{% endblock %}

{% block body %}

<link href="{{ asset('css/HistoricalData.css') }}" rel="stylesheet" />


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}!</h1>

    {{ form(form) }}
    <p id="current-station">Current station: {{ selected_station }}</p>

    <div>
        <canvas id="myChart"></canvas>
    </div>
    <div class="js-stp-date">
    <script>
        let labels = [];
        let lowStps = [];
        let highStps = [];
        {% if formFilled %}
            labels = {{ formDates|json_encode|raw }};
            lowStps = {{ lowFormData|json_encode|raw }};
            highStps = {{ highFormData|json_encode|raw }};
        {% endif %}
    </script>
    </div>

    <script src="{{ asset('assets/demo/historicalData.js') }}"></script>

    <div class="download-xml-button">
        <a href="./data/download" target="_blank">Download .XML-file</a>
    </div>
{% endblock %}
