{% extends 'base.html.twig' %}

{% block title %}Hello HistoricalDataController!{% endblock %}

{% block body %}

<link href="{{ asset('css/HistoricalData.css') }}" rel="stylesheet" />



    <div class="example-wrapper">
        <div class="chart-buttons-wrapper">
            {{ form(form) }}
            <p id="current-station">Current station: {{ selected_station }}</p>
        </div>
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
            <div class="js-stp-date">
            <script>
                let labels = [];
                let lowStps = [];
                let highStps = [];
                {% if formFilled %}
                    labels = {{ formDates|json_encode|raw }};
                    lowStps = {{ lowFormData|json_encode|raw }};
                    highStps = {{ highFormData|json_encode|raw }};
                {% endif %}
            </script>
            </div>
            <script src="{{ asset('assets/demo/historicalData.js') }}"></script>




{% endblock %}
