{% extends 'base.html.twig' %}

{% block title %}Remove User{% endblock %}

{% block body %}
    <div class="container">
        <link href="{{ asset('css/removeUser.css') }}" rel="stylesheet" />

        <table style="width: 100%; border-collapse: collapse;">
            <thead>
            <tr>
                <th>Username</th>
                <th>Permission</th>
                <th>Remove User</th>
                <th>Change Email</th>
                <th>Change Password</th>

            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.getEmail() }}</td>
                    <td>
                        {% if user.IsAdmin() == 1 %}
                            Admin
                        {% else %}
                            Member
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ path('app_remove_user_delete', {'id': user.getEmployeeId}) }}" method="POST" onsubmit="return confirm('Are you sure you want to remove this user?');">
                            <button type="submit" >Remove</button>
                        </form>
                    </td>

                    <td>
                        <form action="{{ path('app_remove_user_change_email', {'id': user.getEmployeeId}) }}" method="POST" onsubmit="return confirm('Are you sure you want to change the Email of this user?');">
                            <input type="text" name="email" placeholder="New Email">
                            <button type="submit">Change Email</button>
                        </form>
                    </td>

                    <td>
                        <form action="{{ path('app_remove_user_change_password', {'id': user.getEmployeeId}) }}" method="POST" onsubmit="return confirm('Are you sure you want to change the password this user?');">
                            <input type="password" name="password" placeholder="New Password">
                            <button type="submit" >Change Password</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
