{% extends 'base.html.twig' %}

{% block title %}Remove User{% endblock %}

{% block body %}
    <link href="{{ asset('css/removeUser.css') }}" rel="stylesheet" />
    <div class="container">
        <h1>Hello RemoveUserController! </h1>


        <form method="POST" action="{{ path('app_remove_user') }}">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group">
                <button type="submit">Remove User</button>
            </div>
            {{ form_end(form) }}


        </form>


    </div>
{% endblock %}
