{% extends 'base.html.twig' %}


{% block body %}
    <link href="{{ asset('css/Cloudiness.css') }}" rel="stylesheet" />
    <script>
        const filteredResult = {{ filteredResult|json_encode|raw }};
    </script>

    <title>10 cloudiest stations</title>
    <div class="example-wrapper">
        <div class="card mb-4">
            <button  name="reload_button" onclick="location.reload()">
                Fetch new data
            </button>
            <div class="card-header">
                Top 10 cloudiness in percentage from the last hour
            </div>

            <div class="card-body">
                <canvas id="myCloudChart"></canvas>
            </div>

        </div>
        <button  name="table-data-button" id="button-cloudiness" >Show data in table</button>

        <div id="table-data-cloudiness" >
            <table class="table">
                <tr>
                    <th> Station </th>
                    <th> Cloudiness in percentage </th>
                    <th> Date & Time </th>
                </tr>

                {% for item in filteredResult %}
                    <tr>
                        <td>{{ item.stationName }}</td>
                        <td>{{ item.cldc }}</td>
                        <td>{{ item.timestamp|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script src="assets/demo/cloudChart.js"></script>
{% endblock %}
