
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="icon" href="https://ahli.com/wp-content/uploads/2019/08/ahli-logo.png">
    <link href="{{ asset('css/stylesdash.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/fakeNavBar.css') }}" rel="stylesheet" />
{#    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />#}

    <title>Dashboard</title>

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>

<body class="sb-nav-fixed">

<!-- Navbar Code 1 -->
<nav class="navbar-code1">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/dashboard"><img src="https://ahli.com/wp-content/uploads/2019/08/ahli-logo.png" width="68" height="50" alt="logo"></a>
        <!-- Sidebar Toggle-->
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Map</div>
                        <a class="nav-link" href="{{ path('app_dashboard') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-map"></i></div>
                            World map
                        </a>

                        {% if  app.user and app.user.admin == 1 %}
                            <div class="sb-sidenav-menu-heading"> User Control Panel</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutss" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-bars" aria-hidden="true"></i></div>
                                User Control Panel
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down" aria-hidden="true"></i></div>
                            </a>

                            <div class="collapse" id="collapseLayoutss" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ path('app_registration') }}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-user-plus" aria-hidden="true"></i></div>
                                        Add User
                                    </a>
                                    <a class="nav-link" href="{{ path('app_remove_user') }}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-users" aria-hidden="true"></i></div>
                                        User Management
                                    </a>
                                </nav>
                            </div>
                        {% endif %}
                        <div class="sb-sidenav-menu-heading">History</div>
                        <a class="nav-link" href="{{ path('app_historical_data') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-history" aria-hidden="true"></i></div>
                            Historical data
                        </a>

                        <div class="sb-sidenav-menu-heading">Real-time monitoring</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-bars" aria-hidden="true"></i></div>
                            Real-time data
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down" aria-hidden="true"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{{ path('app_cloudiness') }}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-bar-chart" aria-hidden="true"></i></div>
                                    Cloudiness
                                </a>
                                <a class="nav-link" href="{{ path('app_airpressure') }}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-bar-chart" aria-hidden="true"></i></div>
                                    Air pressure
                                </a>
                            </nav>
                        </div>

                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="{{ path('download_xml_four_weeks') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-download" aria-hidden="true"></i></div>
                            Download xml file
                        </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    {{ app.user.firstname }}
                </div>
            </nav>
        </div>
    </div>

</nav>

<!-- Navbar Code 2 -->
<nav class="navbar-code2">
    <nav class="navbar">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="/dashboard">
            <img src="https://ahli.com/wp-content/uploads/2019/08/ahli-logo.png" alt="logo">
        </a>
        <button class="toggle-btn" onclick="toggleNavbar()"><i class="fas fa-bars"></i></button>
        <!-- Navbar Items -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_dashboard') }}">World map</a>
                </li>
                {% if  app.user and app.user.admin == 1 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_registration') }}">Add User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"href="{{ path('app_remove_user') }}">User Management</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_historical_data') }}">Historical data</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_cloudiness') }}">Cloudiness</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_airpressure') }}">Air pressure</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('download_xml_four_weeks') }}">Download xml file</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</nav>

<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.js"></script>
{#<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/simple-datatables.min.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script>
    // // Toggle navbar for responsive mode
    // function toggleNavbar() {
    //     const navbar2 = document.querySelector(".navbar-code2");
    //     navbar2.classList.toggle("show");
    // }
    //
    // Toggle dropdown menu
    function toggleDropdown(event) {
        event.preventDefault();
        const dropdown = event.target.nextElementSibling;
        dropdown.style.display = dropdown.style.display === "fixed" ? "none" : "fixed";
    }

    function toggleNavbar() {
        const navbarCollapse = document.getElementById("navbarCollapse");
        navbarCollapse.classList.toggle("show");
    }
</script>
<div class="fake-nav-bar"></div>
<div class="content-fake-side-bar-top-grid">
    <div class="fake-side-bar"></div>
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{#<script src="js/scripts.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
{#<script src="js/datatables-simple-demo.js"></script>#}
</body>

</html>